@import "../common/styles/style.scss";

.main {
    display: flex;
    flex-direction: row;
    container-type: size;
    flex: 1;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        > div {
            height: 50cqh;
        }
    }
    @include media-breakpoint-up(md) {
        > div {
            width: 50cqh;
        }
    }
}

code.code-pill {
    border-radius: $border-radius-sm;
    margin-right: $spacer * .25;
    overflow-wrap: normal;
    word-break: break-word;
}

.btn.btn-primary {
    color: white !important;
}

@include media-breakpoint-up(md) {
    .program-input {
        width: 33.33% !important;
    }
}

.element-offcanvas-tab-pane {
    flex-direction: column;
}

.element-offcanvas-tab-pane.show {
    display: flex !important;
    height: 100%;
}

.cm-theme:not(:last-child) {
    border-bottom: 1px solid var(--#{$prefix}border-color);
}

#react-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.terminal-placeholder {
    background-color: black;
}

.terminal-wrapper {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card.clickable {
    cursor: pointer;
    .list-group-item {
        background-color: inherit;
    }
}
.card.clickable:hover {
    @extend .bg-body-secondary;
}

@supports(scrollbar-color: auto) {
    .xterm-viewport.xterm-viewport {
        scrollbar-width: thin;
        scrollbar-color: #ffffff20 transparent;
    }
}

@supports selector(::-webkit-scrollbar) {
    .xterm-viewport::-webkit-scrollbar {
        width: 10px;
    }

    .xterm-viewport::-webkit-scrollbar-track {
        opacity: 0;
    }

    .xterm-viewport::-webkit-scrollbar-thumb {
        min-height: 20px;
        background-color: #ffffff20;
    }
}

nav .input-group {
    width: initial !important;
}

.height-50cqh {
    height: 50cqh;
}

textarea {
    resize: none;
}